---
services:
  - name: puppetmaster
    hosts:
      - puppetmaster.infra.test
  - name: gerrit
    hosts:
      - gerrit.infra.test
  - name: zuul
    hosts:
      - zuul.infra.test
  - name: jenkins
    hosts:
      - jenkins.infra.test
