clouds:
  - name: devstack-admin
    images:
      - name: ubuntu-trusty
        filename: /home/ubuntu/trusty-server-cloudimg-amd64-disk1.img
    security_groups:
      - name: ssh
        description: Allow SSH from everywhere
      - name: puppetmaster
        description: Allows puppet agents to connect to puppetmaster
    security_groups_rules:
      - security_group: ssh
        protocol: tcp
        port_range_min: 22
        port_range_max: 22
        remote_ip_prefix: 0.0.0.0/0
      - security_group: puppetmaster
        protocol: tcp
        port_range_min: 8140
        port_range_max: 8140
        remote_ip_prefix: 0.0.0.0/0
    keypairs:
      - name: bootstrap_key
        public_key_file: /home/ubuntu/.ssh/id_rsa.pub
    servers:
      - name: puppetmaster.infra.test
        image: ubuntu-trusty
        flavor: d1
        network: private
        key_name: bootstrap_key
        security_groups:
          - ssh
          - puppetmaster
      - name: gerrit.infra.test
        image: ubuntu-trusty
        flavor: d1
        network: private
        key_name: bootstrap_key
        security_groups: ssh
      - name: zuul.infra.test
        image: ubuntu-trusty
        flavor: d1
        network: private
        key_name: bootstrap_key
        security_groups: ssh
      - name: jenkins.infra.test
        image: ubuntu-trusty
        flavor: d1
        network: private
        key_name: bootstrap_key
        security_groups: ssh
