---
classes:
  - jenkins::master 

jenkins::master::ssl_cert_file: /etc/ssl/certs/ssl-cert-snakeoil.pem
jenkins::master::ssl_key_file: /etc/ssl/private/ssl-cert-snakeoil.key
jenkins::master::jenkins_ssh_private_key: "%{hiera('jenkins_ssh_private_key')}"
jenkins::master::jenkins_ssh_public_key: "%{hiera('jenkins_ssh_public_key')}"
