class infra-ansible::profiles::gerrit {
  class { '::gerrit':
    mysql_password   => hiera('gerrit_mysql_password'),
    gerrit_auth_type => 'DEVELOPMENT_BECOME_ANY_ACCOUNT',
    war              => 'http://tarballs.openstack.org/ci/gerrit/gerrit-v2.10.2.23.039a170.war',
    secondary_index  =>true
  }
}
